<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278752882044-bcp9nhism59etuh73kkkud1ko42vkgjj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278752882044-bcp9nhism59etuh73kkkud1ko42vkgjj</string>
	<key>API_KEY</key>
	<string>AIzaSyDBkHhRdpIllGHtviPGUV90zDwf5S_cIAE</string>
	<key>GCM_SENDER_ID</key>
	<string>278752882044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-h111</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-h111.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278752882044:ios:5eebea1cbd03643137c8f9</string>
</dict>
</plist>